.box {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
  border: 1px solid green;
}

